.red-bold-text {
	color: red;
	font-weight: bold;
}

.red-bold-text1 {
	color: #a81e23;
	font-weight: bold;
}

.t_rt {
	color: #a81e23;
	font-weight: bold;
}

.red-text {
	color: #CC0033;
}

.blue-text {
	color: #003399;
}

.blue-bold-text {
	color: #003399;
	font-weight:bold;
}

.green-text {
	color: green;
}

.blue {
	color: #00f;
}

.rt {
	color: #960000 !important;
	font-weight: bold;
}

.rt_n {
	color: #0b5196 !important;
	font-weight: bold;
}

.itypt{
    color: #5d5d5d !important;
}


.divarr {
	float: left;
	display: none;
}

.icoc-all {
	width: 46px;
	height: 30px;
	float: left;
	background-image: url(../images/pic36.png);
	background-repeat: no-repeat;
}

.ssc-accname {
	background-position: 0px -2px;
}

.ssc-balance {
	background-position: -364px -2px;
}

.ssc-betinfo {
	background-position: -795px -2px;
}

.ssc-acchistory {
	background-position: -147px -2px;
}

.ssc-result {
	background-position: -938px -2px;
}

.ssc-userinfo {
	background-position: -74px -2px;
}

.ssc-gamerules {
	background-position: -650px -2px;
}

.ssc-affiche {
	background-position: -865px -2px;
}

.ssc-logout {
	background-position: -435px -2px;
}

.ssc-wl {
	background-position: -292px -2px;
}

.li_height {
	line-height: 30px;
}

.w50 {
	width: 50% !important;
}

.icoc-sport {
	margin-left: -9px;
	margin-right: 8px;
	width: 25px;
	height: 20px;
	float: left;
	background-image: url(../images/sport_icons.png);
	background-repeat: no-repeat;
}

.sport-football {
	background-position: -9px -7px;
}

.sport-basketball {
	background-position: -9px -43px;
}

.sport-baseball {
	background-position: -18px -17px;
}

.sport-wallyball {
	background-position: -18px -17px;
}

.sport-tennis {
	background-position: -18px -17px;
}

.sport-badminton {
	background-position: -18px -17px;
}

.sport-other {
	background-position: -8px -462px;
}
/*-----------------------------��д��ʽ----------------------------*/
.ui-page-theme-a .ui-btn.ui-btn-active,html .ui-bar-a .ui-btn.ui-btn-active,html .ui-body-a .ui-btn.ui-btn-active,html body .ui-group-theme-a .ui-btn.ui-btn-active,html head+body .ui-btn.ui-btn-a.ui-btn-active,
	/* Active checkbox icon */ .ui-page-theme-a .ui-checkbox-on:after,html .ui-bar-a .ui-checkbox-on:after,html .ui-body-a .ui-checkbox-on:after,html body .ui-group-theme-a .ui-checkbox-on:after,.ui-btn.ui-checkbox-on.ui-btn-a:after,
	/* Active flipswitch background */ .ui-page-theme-a .ui-flipswitch-active,html .ui-bar-a .ui-flipswitch-active,html .ui-body-a .ui-flipswitch-active,html body .ui-group-theme-a .ui-flipswitch-active,html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active,
	/* Active slider track */ .ui-page-theme-a .ui-slider-track .ui-btn-active,html .ui-bar-a .ui-slider-track .ui-btn-active,html .ui-body-a .ui-slider-track .ui-btn-active,html body .ui-group-theme-a .ui-slider-track .ui-btn-active,html body div.ui-slider-track.ui-body-a .ui-btn-active
	{
	background-color:rgb(46, 185, 175) /*{a-active-background-color}*/;
	border-color: #C3CAC2;
	/* border-color: #C3CAC2; */
	color:#000 ;/*{a-active-color}*/
	text-shadow: 0 /*{a-active-shadow-x}*/           1px
		/*{a-active-shadow-y}*/  
		
		       0 /*{a-active-shadow-radius}*/           #005599
		/*{a-active-shadow-color}*/;
	text-shadow: none !important;
}

.ui-listview>li h1,.ui-listview>li h2,.ui-listview>li h3,.ui-listview>li h4,.ui-listview>li h5,.ui-listview>li h6
	{
	font-size: 1em;
	font-weight: bold;
	display: block;
	margin: 0;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
/*--------------------------------------------------------------------match.jsp  ------------*/
.btn_b {
	width: 100%;
	height: 40px;
	float: left;
	cursor: pointer;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	color: #fff;
	font-weight: 600;
	/* text-shadow: 0 1px 0 #f; */
	background-color:rgb(173, 216, 180) ;
	background-image: -webkit-gradient(linear, center bottom, center top, color-stop(0%,
		rgb(173, 216, 180) ), color-stop(100%, rgb(173, 216, 180) ) );
	background-image: -webkit-linear-gradient(to top,rgb(173, 216, 180)  0%, rgb(173, 216, 180)  100%);
	background-image: -moz-linear-gradient(to top, rgb(173, 216, 180)  0%, rgb(173, 216, 180)  100%);
	background-image: -ms-linear-gradient(to top, rgb(173, 216, 180)  0%, rgb(173, 216, 180)  100%);
	background-image: -o-linear-gradient(to top, rgb(173, 216, 180)  0%, rgb(173, 216, 180)  100%);
	background-image: linear-gradient(to top, rgb(173, 216, 180) 0%, rgb(173, 216, 180)  100%);
}

.btn_b:hover {
	width: 100%;
	height: 40px;
	float: left;
	cursor: pointer;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	color: #373535;
	font-weight: 600;
	/* text-shadow: 0 1px 0 #8B8787; */
	background-color: rgb(255, 229, 204);
	background-image: -webkit-gradient(linear, center bottom, center top, color-stop(0%,
		rgb(255, 229, 204)), color-stop(100%, rgb(255, 229, 204)) );
	background-image: -webkit-linear-gradient(bottom, rgb(255, 229, 204) 0%, rgb(255, 229, 204) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(255, 229, 204) 0%, rgb(255, 229, 204) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(255, 229, 204) 0%, rgb(255, 229, 204) 100%);
	background-image: -o-linear-gradient(bottom, rgb(255, 229, 204) 0%, rgb(255, 229, 204) 100%);
	background-image: linear-gradient(to top, rgb(255, 229, 204) 0%, rgb(255, 229, 204) 100%);
}

.group_01 {
	width: 100%;
	height: inherit;
	float: left;
}

.div_w50 {
	width: 50%;
	float: left;
}

.div_w25 {
	width: 25%;
	float: left;
}

.hi30 {
	height: 30px;
}

.hi55 {
	height: 55px;
}
/*-------------Used in the match.jsp page------------*/
.bcontain {
	border-top: #ADD8B4 1px solid;
	border-right: #ADD8B4 1px solid;
	width: auto !important;
	height: 100% !important;
}
/*-------------Used in the detail.jsp page------------*/
.bcontain_fb {
	border-top: #ADD8B4 1px solid;
	border-right: #ADD8B4 1px solid;
	width: auto !important;
	height: 100% !important;
}

.bcontain_bb {
	border-top: #ECE786 1px solid;
	border-right: #ECE786 1px solid;
	width: auto !important;
	height: 100% !important;
}

.bcontain2 {
    border-bottom: #ADD8B4 1px solid;
    border-right: #ADD8B4 1px solid;
    width: auto !important;
    height: 100% !important;
}

.b_color_01 {
	background-color: #DBE2D9
}

.b_color_02 {
	background-color: #C5D2C2;
}

.b_color_03 {
	background-color: #BBC7B9;
}

.c_color_01 {
	background-color: #f9f9f9;
}

.c_color_02 {
	background-color: #E6F3E2;
}

.c_color_03 {
	background-color: #DEECDB;
}

.txt_cnt {
	text-align: center;
}

.fnt14b {
	font-size: 13px;
	font-weight: bold;
	color: #333;
	text-shadow: 0 1px 0 #f3f3f3;
	font-family: "Arial", "Microsoft YaHei", "����", "���� ", sans-serif;
	word-wrap: break-word;
}

.fnt14 {
	font-size: 14px;
	color: #333;
	text-shadow: none;
	font-family: "Arial", "Microsoft YaHei", "����", "���� ", sans-serif;
	word-wrap: break-word;
}

.mt_fnt14 {
	font-size: 14px;
	color: #000000;
	text-shadow: none;
	font-family: "Arial", "Microsoft YaHei", "����", "���� ", sans-serif;
	word-wrap: break-word;
}

.lh30 {
	line-height: 31px;
}

.lh55 {
	line-height: 34px;
}

.t_item {
	margin-bottom: 10px;
}

/*--------------------------------------------------------------------detail.jsp  ------------*/
.bg_c_fb {
	background: url(../images/fb.jpg) no-repeat center;
	width: 100%;
	height: 81px;
	float: left;
}

.bg_c_bb {
	background: url(../images/bb.jpg) no-repeat center;
	width: 100%;
	height: 81px;
	float: left;
}

.div_w33 {
	width: 33.33%;
	float: left;
}

.bcontain02bb {
	border: rgba(205, 181, 57, 0.3) 5px solid;
	width: auto;
	height: 82%;
}
.bcontain02fb {
	border: rgba(68, 168, 115, 0.3) 5px solid;
	width: auto;
	height: 82%;
}

.b_color_04bb {
	background-color: rgba(251, 211, 8, 0.3);
}
.b_color_04fb {
	background-color: rgba(102, 169, 106, 0.3);
}

.b_color_05 {
	background-color: #09460F;
}

.f_left01 {
	float: left;
	margin-left: 6px;
}

.f_right01 {
	float: right;
	margin-right: 6px;
}

.fnt14red {
	font-size: 16px;
	color: #900;
	font-weight: bold;
	text-shadow: 0 1px 0 #f3f3f3;
	font-family: "Arial", "Microsoft YaHei", "����", "���� ", sans-serif;
	word-wrap: break-word;
}

.lh30 {
	line-height: 31px;
}

.div_w100 {
	width: 100%;
	float: left;
}

.title_divbb {
	width: 100%;
	height: 50px;
	float: left;
	text-align: center;
	line-height: 25px;
	background-color: rgba(253, 238, 160, 0.3);
}
.title_divfb {
	width: 100%;
	height: 50px;
	float: left;
	text-align: center;
	line-height: 25px;
	background-color: rgba(180, 253, 160, 0.3);
}

.txt_t01 {
	color: #060;
	font-weight: 700;
	text-shadow: 0 1px 0 #666;
}

.txt_vs {
	color: #1B5A39;
	font-weight: 700;
	font-size: 14px;
	text-shadow: none;
}

.txt_center {
	text-align: center;
	line-height: 30px;
	color: #FFF;
	font-weight: bold;
	text-shadow: 0 1px 0 #666;
}

.ui-listview>.ui-li-static {
	padding: 0;
}
/*-----------------------------------------------��д��ʽ-----------------------------------------------------*/
div[data-css="games"] .ui-listview .ui-btn {
	background: #E9E9E9 !important;
	color: #000 !important;
	font-weight: normal !important;
	margin: 4px 0 0 0 !important;
	border: 1px inset rgba(255, 255, 255, 0.3) !important;
}

.f_left01d {
		float: left;
		width: inherit !important;
		margin-left: 6px;
		text-align: center;
	}
	.f_right01d {
		float: right;
		margin-right: 6px;
		width: inherit !important;
		text-align: center;
	}
.lh55d {
		line-height: 55px;
	}
	
@media ( max-width : 30em ) {
	.f_left01d {
		float: left;
		width: 100% !important;
		height: 20px !important;
		text-align: center;
		margin-top:5px;
		margin-left: 0;
		
	}
	.f_right01d {
		float: left;
		width: 100% !important;
		height: 20px !important;
		text-align: center;
		margin-top:8px;
		
	}
	.lh55d {
	    line-height: 20px !important;
		font-size:14px;
	}
}

/*----------------order btn---------------------------------*/
.ui-btn-order {
	background: #66C1BB !important;
	border-color: #66C1BB !important;
	color: #F2F903 !important;
	text-shadow: none !important;
	margin: 6px 0 6px 0 !important;
}
.ui-btn-clear {
	background: #ff635e !important;
    border-color: #ff635e !important;
    color: #fff !important;
	text-shadow: none !important;
	margin: 6px 3px 6px 0 !important;
}

.order-title{
	white-space:pre-wrap;
}
.order-del{
	text-decoration: line-through;
}
/*----------------panel right-----------------------*/
a > .ui-select{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  position: relative !important;
}
/*---------------- red card -----------------------*/
.red-style {
	background: red;
	padding: 1px 2px 0 2px;
	color: #fff;
	font-size: 12px;
	font-family: Tahoma;
	margin: -1px 0 0 2px;
}
/*---------------- history table -----------------------*/
.nodata {
	border: #C4CAC1 1px solid;
	background: #C4CAC1;
	color: #3C4F48;
	text-shadow: none;
	font-size: 12px;
}

#historyTable {
	width: 100% !important;
	border-collapse: initial !important;
	border-spacing: 1px !important;
	text-shadow: none;
}

.div_table {
	background: #dbd9d9;
	width: 100%;
}

.tb_set tr th {
	background: #C6ECBD; /*#b6ccbb*/
	text-align: center;
	color: #033707;
	font-size: 14px;
	line-height: 18px;
	padding: 4px 0;
}

.tb_set tr td {
	font-size: 13px;
	line-height: 20px;
	padding: 3px 0;
	text-align: center;
}

.date_txt {
	color: #1956b2;
	font-size: 13px;
	color: #1956b2;
	text-align: center;
	text-decoration: none;
}

.date_txt a {
	text-decoration: none;
}

.tr1 {
	background: #ffffff;
}

.tr2 {
	background: #ececec;
}

.tr3 {
	background: #B6D1B0;
}

.span_gray {
	color: #3d3e3d;
}

.span_green {
	color: #246a08;
}

.span_red {
	color: #9f0416;
}

.span_line {
	border-bottom: #E5E2E2 1px solid;
	width: 100%;
	display: inline-block;
}

.span_line2 {
	border-bottom: #B6C5B2 1px solid;
	width: 100%;
	display: inline-block;
}
.span_line3 {
	border-bottom: #D4E2D1 1px solid;
	width: 100%;
	display: inline-block;
}

.txt_b {
	font-weight: bold;
}
/* ----------------bable sport-list------------------------------- */
.sport-list thead th,
.sport-list tbody tr:last-child {
    border-bottom: 1px solid #d6d6d6; /* non-RGBA fallback */
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.sport-list tbody th,
.sport-list tbody td {
    border-bottom: 1px solid #e6e6e6; /* non-RGBA fallback  */
    border-bottom: 1px solid rgba(0,0,0,.05);
}
.sport-list tbody tr:last-child th,
.sport-list tbody tr:last-child td {
    border-bottom: 0;
}
.sport-list tbody tr:nth-child(odd) td,
.sport-list tbody tr:nth-child(odd) th {
    background-color: #eeeeee; /* non-RGBA fallback  */
    background-color: rgba(0,0,0,.04);
}
.sport-list tbody tr:nth-child(even) td,
.sport-list tbody tr:nth-child(even) th {
    background-color: #eeeeee; /* non-RGBA fallback  */
    background-color: rgba(237, 240, 231, 1);
}

/* ----------------bable breakpoint------------------------------- */
.sport-table-breakpoint {
	width: 95%;
	margin: 0 auto;
}
.sport-table-breakpoint th {
	margin-top: 6px !important;
}
@media ( min-width: 40em ) {
	.sport-table-breakpoint {
		width: 99%;
		margin: 0 auto;
	}
	/* Show the table header rows and set all cells to display: table-cell */
	.sport-table-breakpoint td,
	.sport-table-breakpoint th,
	.sport-table-breakpoint tbody th,
	.sport-table-breakpoint tbody td,
	.sport-table-breakpoint thead td,
	.sport-table-breakpoint thead th {
		display: table-cell;
		margin: 0;
	}
	/* Hide the labels in each cell */
	.sport-table-breakpoint td .ui-table-cell-label,
	.sport-table-breakpoint th .ui-table-cell-label {
		display: none;
	}
}


.ui-li-count{border-radius:1.3125em;-webkit-border-radius:1.3125em; background:#66C1BB;border:1px solid #66C1BB; text-shadow:none;}
/* game rules */
.ui-background-default{margin-top:10px; background:#fff; overflow:hidden;}
.ui-mobile-viewport .sportGameContent{padding:0 10px;}
#ol1,#ol1 li{list-style-type:decimal;}
#oli,#oli li{list-style-type:upper-roman;}
#ola,#ola li{list-style-type:lower-alpha;}

ul.navGame li a.ui-btn{background-color:rgb(226, 222, 222);}
.infor_group ol,#bsktball ol{padding-left:25px;padding-right:0px;}
#bsktball,#football{font-size:0.9em;}