html, body
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    /*侧栏*/
    width: 100%;
    /*不能加高度，要不然中间区域跟随不到底部：style="padding-bottom: 1.13rem;"*/
    height: 100%;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
}
html
{
    /*font-size为 320 / 640 * 100 = 50(px);*/
    font-size: 50px;
}
ul, ol, li, dl, dt, dd
{
    list-style-type: none;
    /*侧栏*/
    margin: 0;
    padding: 0;
}
a
{
    text-decoration: none;
    outline: none;
    cursor: pointer;
}
/* a,button,input,textarea{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
} */
ins {
    text-decoration: none;
}
img {
    border: none;
    outline: none;
    /*zepto*/
    max-width: 100%;
    height: auto;
    width: auto9;
    -ms-interpolation-mode: bicubic;
}
input,button {
    border: none;
    outline: none;
    -webkit-appearance: none;  /*去除input,button默认样式*/
}
strong
{
    font-weight: normal;
}
b
{
    font-weight: normal;
}
i
{
    font-style: normal;
}
body
{
    /*侧栏*/
    background-color: #fff;
    font-family: '方正兰亭细黑简';
    font-size: 0.18rem;
}

/**
 * register
 */
.register{
    width: 100%;
    float: left;
}

.passw-form
{
    width: 100%;
    margin-top: 0.45rem;
    float: left;
    position: relative;
}

.passw-form .register-ipt{
    width: calc(100% - 1.5rem);
    width: -webkit-calc(100% - 1.5rem);
    height: 0.68rem;
    margin: 0 0.74rem 0;

    position: relative;
}

.passw-form .register-ipt input
{
    width: calc(100% - 0.3rem);
    width: -webkit-calc(100% - 0.3rem);
    height: 0.66rem;
    line-height: 0.3rem;
    font-size: 0.24rem;
    color: #959595;
    padding: 0 0.15rem;
    border: 1px solid #b5b5b5;
    border-radius: 0;
}

.passw-form .register-ipt input:hover {
    border-color: #fc8901;
}

.passw-form .register-ipt input.error{
    background-color: #f2deeb;
    color: #a80070;
    border-color: #ff7ac0;
}

.passw-form .register-ipt label.error
{
    height: 0.45rem;
    line-height: 0.45rem;
    font-size: 0.24rem;
    color: #f02387;
    padding: 0.1rem 0.15rem;
    float: left;
}

/*验证码*/
.register-ipt .change_opcity{
    width: 1.65rem;
    height: 0.38rem;
    position: absolute;

    /* 000 */
    right: 10px;
    top: 50%;
    margin-top: -19px;
}

.register-ipt .change_opcity .change_reg{
    width: 0.4rem;
    height: 0.38rem;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background: url('../images/login/change_reg.png') no-repeat center center;
    background-size: 100% 100%;
}

.passw-form .register-distance, .passw-form .register-distance2{
    width: calc(100% - 1.5rem);
    width: -webkit-calc(100% - 1.5rem);
    height: 0.45rem;
    margin: 0 0.74rem 0;
}

.passw-form .register-choice {
    width: calc(100% - 1.48rem);
    width: -webkit-calc(100% - 1.48rem);
    height: 0.32rem;
    margin: 0 0.74rem 0.4rem;
    float: left;
}

.register-choice .register-term{
    width: 100%;
    height: 0.32rem;
    float: left;
}

.register-choice .register-term a{
    float: left;
}

.register-choice .login-check{
    width: 0.31rem;
    height: 0.3rem;
    border: 1px solid #b5b5b5;
    cursor: pointer;
    float: left;
}

.register-choice .checked {
    width: 0.31rem;
    height: 0.3rem;
    background: #2eaaff url('../images/login/login-input.png') no-repeat center center;
    background-size: 0.31rem 0.3rem;
}

.register-choice .register-fl {
    height: 0.32rem;
    line-height: 0.32rem;
    font-size: 0.2rem;
    color: #959595;
    margin-left: 0.23rem;
    float: left;
}

.register-choice .register-fl i{
    color: #0297fd;
}

.register-controls {
    width: 100%;
    float: left;
}

.register-controls .btn-long {
    width: calc(100% - 1.48rem);
    width: -webkit-calc(100% - 1.48rem);
    height: 0.78rem;
    font-size: 0.28rem;
    margin: 0 0.74rem;
    padding: 0.08rem 0;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.register-controls .btn-purple {
    color: #fff;
    background-color: #fc8901;
    margin-bottom: 0.78rem;
}

.register-controls i{
    padding: 0 10px;
}