/*右侧菜单*/
.menu a {
  color: #fff;
}
.menu a:hover {
  text-decoration: underline;
}
.menu-header {
  border-bottom: 1px solid #2a2d2f;
  padding: 20px 0 20px 60px;
  background-size: 32px;
}
.menu-header-title {
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 0;
}
.menu-section {
  margin: 25px 0;
}
.menu-section-title {
  text-transform: uppercase;
  color: #85888d;
  font-weight: 200;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 0 20px;
  margin: 0;
}
.menu-section-list {
  padding: 0;
  margin: 10px 0;
  list-style: none;
}
.menu-section-list a {
  display: block;
  padding: 10px 20px;
}
.menu-section-list a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  text-decoration: none;
}
/*Header*/
.panel-header {
  margin: 85px auto 55px;
}
.title {
  font-size: 3.2em;
  line-height: 1em;
  margin: 0 0 15px;
  color: #4B5;
  font-weight: 400;
  padding-top: 82px;
  background: url('../../images/portal/mango-logo.png') no-repeat center top;
}
.subtitle {
  font-weight: 400;
  font-size: 1.3em;
  line-height: 1.2em;
  margin: 0 0 45px 0;
  color: #767676;
}
/**
 * Action buttons
 */
.panel-actions {
  margin: 20px 0;
}
.btn {
  text-decoration: none;
  padding: 0px 14px;
  border-radius: 4px;
  line-height: 50px;
  display: inline-block;
  border: 1px solid #4B5;
  width: 35%;
  font-size: 1.2em;
}
.btn-download {
  margin-right: 5px;
  background-color: #4B5;
  color: #fff;
  font-weight: 600;
}
.btn-download:hover {
  background-color: #3da84b;
  border-color: #369643;
}
.btn-fork {
  margin-left: 5px;
  background-color: #fff;
}
.btn-fork:hover {
  background-color: rgba(0, 0, 0, 0.02);
}
/**
 * iPhone
 */
.iphone {
  background: url('../../images/portal/iphone5.png') no-repeat;
  position: relative;
  margin: 0 auto;
  width: 298px;
  height: 597px;
}
.iphone img,
.iphone video {
  position: absolute;
  top: 73px;
  left: 25px;
  height: 446px;
  max-width: 100%;
}
.iphone video {
  display: none;
}
.btn-hamburger {
  border: none;
  position: absolute;
  top: 0.16rem;
  right: 85px;
  outline: none;
  width: 0.45rem;
  height: 0.35rem;
  background: url('../../images/portal/hd-menu.png') no-repeat left center;
  background-size: contain;
}
.tooltip {
  font-size: 20px;
  line-height: 19px;
  display: inline-block;
  background: #4B5 url('../../images/portal/happy.png') no-repeat 135px 15px;
  color: #fff;
  padding: 10px 45px 10px 20px;
  border-radius: 4px;
  position: relative;
  left: 50px;
}
.tooltip:before {
  content: '';
  display: inline-block;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid #4B5;
  position: absolute;
  top: 50%;
  left: -5px;
  margin-top: -6px;
}
/**
 * Boxes
 */
.box {
  border: 1px solid #4b5;
  border-radius: 4px;
  text-align: left;
  margin: 50px 10px;
  position: relative;
}
.box:before,
.box:after {
  content: ' ';
  display: inline-block;
  width: 1px;
  height: 50px;
  border-left: 1px solid #4b5;
  position: absolute;
  left: 50%;
}
.box:before {
  top: -50px;
}
.box:after {
  bottom: -50px;
}
.box-title {
  margin: 0;
  padding: 10px 20px;
  border-bottom: 1px solid #4b5;
  color: #4b5;
  font-size: 1.2em;
  font-weight: 400;
}
.box-content {
  padding: 20px;
  background-color: #f8f8f8;
}
/**
 * Medium Screens
 */
@media all and (min-width: 40em) {
  .btn-hamburger {
    top: 0.15rem;
    right: 133px;
  }
  .panel-header {
    margin-top: 40px;
    width: 455px;
  }
  .title {
    font-size: 4.2em;
  }
  .subtitle {
    font-size: 1.8em;
  }
  .btn-download {
    margin-right: 20px;
  }
  .btn-fork {
    margin-left: 20px;
  }
  /*.iphone {
    transition: transform 1s ease, top 1s ease;
    transform: translateY(305px);
    top: 305px;
  }

  .iphone.shown {
    transform: translateY(0);
    top: 0;
  }*/
}
/**
 * Large Screens
 */
@media all and (min-width: 54em) {
  .box {
    width: 70%;
    max-width: 1200px;
    margin: 50px auto;
  }
  .iphone video {
    display: block;
  }
  .iphone img {
    display: none;
  }
}
/**
 * Footer
 */
.panel-footer {
  margin: 10px auto 20px;
}
.panel-footer p {
  padding-bottom: 20px;
}
.heart {
  font-style: normal;
  font-weight: 500;
  color: #c0392b;
  text-decoration: none;
}
.share-buttons {
  display: block;
  margin: 20px auto 0;
  padding: 15px 20px 5px;
  width: 190px;
  overflow: hidden;
}
#github-button {
  float: left;
  width: 90px;
}
/**
 * Slideout module styles
 */
html,
body {
  width: 100%;
  height: 100%;
}
.menu,
.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  width: 256px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  display: none;
  background-color: #1D1F20;
}
.panel,
.slideout-panel {
  position: relative;
  z-index: 3;
}
.slideout-open,
.slideout-open body {
  overflow: hidden;
}
.slideout-open .slideout-menu {
  display: block;
}
/* Animation
---------------------------------- */
@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
}
@keyframes shake {
  0%,
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
}
.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: 4;
  animation-iteration-count: 4;
}
