html, body
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    /*侧栏*/
    width: 100%;
    /*不能加高度，要不然中间区域跟随不到底部：style="padding-bottom: 1.13rem;"*/
    height: 100%;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
}
html
{
    /*font-size为 320 / 640 * 100 = 50(px);*/
    font-size: 50px;
}
ul, ol, li, dl, dt, dd
{
    list-style-type: none;
    /*侧栏*/
    margin: 0;
    padding: 0;
}
a
{
    text-decoration: none;
    outline: none;
    cursor: pointer;
}
a,button,input,textarea{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
ins {
    text-decoration: none;
}
img {
    border: none;
    outline: none;
    /*zepto*/
    max-width: 100%;
    height: auto;
    width: auto9;
    -ms-interpolation-mode: bicubic;
}
strong
{
    font-weight: normal;
}
b
{
    font-weight: normal;
}
i
{
    font-style: normal;
}
body
{
    /*侧栏*/
    background-color: #fff;
    font-family: '方正兰亭细黑简';
    font-size: 0.18rem;
}

/**
 * 左侧栏菜单
 */
.menu
{
    background-color: #434343;
    background-image: linear-gradient(145deg, #434343, #434343);
}

.menu ul{
    width: calc(100% - 1.2rem);
    width: -webkit-calc(100% - 1.2rem);
    margin: 0.2rem 0.6rem 0;
    float: left;
}

.menu ul li{
    height: 0.88rem;
    line-height: 0.88rem;
    font-family: '微软雅黑';
    font-size: 0.3rem;
    margin: 0.2rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.menu ul li a{
    color: #b5b5b5;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.menu ul li i{
    width: 0.5rem;
    height: 0.88rem;
    float: left;
}

.menu ul li .menu-icon1{
    background: url('../images/user/menu-icon1.png') no-repeat center left;
    background-size: 0.46rem 0.5rem;
}

.menu ul li .menu-icon2{
    background: url('../images/user/menu-icon2.png') no-repeat center left;
    background-size: 0.45rem 0.4rem;
}

.menu ul li .menu-icon3{
    background: url('../images/user/menu-icon3.png') no-repeat center left;
    background-size: 0.4rem 0.4rem;
}

.menu ul li .menu-icon4{
    background: url('../images/user/menu-icon4.png') no-repeat center left;
    background-size: 0.48rem 0.29rem;
}

.menu ul li .menu-icon5{
    background: url('../images/user/menu-icon5.png') no-repeat center left;
    background-size: 0.41rem 0.46rem;
}

.menu ul li .menu-icon6{
    background: url('../images/user/menu-icon6.png') no-repeat center left;
    background-size: 0.49rem 0.41rem;
}

.menu ul li .menu-icon7{
    background: url('../images/user/menu-icon7.png') no-repeat center left;
    background-size: 0.45rem 0.45rem;
}

.menu ul li span{
    margin-left: 0.2rem;
}

/**
 * 商品面板
 */
.panel
{
    min-height: 100%;
    background-color: #fff;
}

/**
 * hamburger
 */
.btn-hamburger
{
    width: 30px;
    height: 22px;
    border: none;
    position: absolute;
    top: 14px;
    left: 12px;
    outline: none;
    background: url('../images/mobileInternet/menu.png') no-repeat center center;
}

/**
 * Slideout module styles
 */
.menu,
.slideout-menu
{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 5rem;
    -webkit-overflow-scrolling: touch;
    display: none;
}
.panel,
.slideout-panel
{
    position: relative;
    z-index: 1;
}
.slideout-open,
.slideout-open body
{
    overflow: hidden;
}
.slideout-open .slideout-menu
{
    display: block;
}

/**
 * header(开始)
 */
.header {
    position: relative;
    width: 100%;
    height: 0.88rem;
    background-color: #ec6517;
}

.header .header-user,.header .header-menu{
    width: 0.96rem;
    height: 0.88rem;
    float: left;
}

.header .header-menu{
    float: right;
}

.header-user i,.header-menu i{
    width: 0.54rem;
    height: 0.54rem;
    background: url('../images/940/header-menu.png') no-repeat center center;
    background-size: 100% 100%;
    display: block;
    margin: 0.18rem 0.21rem 0.15rem;
}

.header-menu i{
    background: url('../images/940/header-user.png') no-repeat center center;
    background-size: 100% 100%;
}

.header-title{
    width: calc(100% - 1.92rem);
    width: -webkit-calc(100% - 1.92rem);
    height: 0.88rem;
    float: left;
}

.header-title i{
    width: 2.36rem;
    height: 0.36rem;
    display: block;
    margin: 0.26rem auto;
    background: url('../images/940/header-title.png') no-repeat center center;
    background-size: 100% 100%;
}

/**
 * free
 */
.free{
    width: 100%;
    float: left;
}

.free-tabPanel{
    width: 100%;
}

.free-tabPanel ul.free-ul {
    height: 0.86rem;
    border-bottom: 1px solid #e0e0e0;
    background-color: #eeeeee;
    position: relative;
    display: -webkit-flex;
    display: flex;
}

.free-tabPanel ul.free-ul li{
    width: calc((100%) / 3);
    width: -webkit-calc((100%) / 3);
    height: 0.86rem;
    line-height: 0.88rem;
    font-size: 0.26rem;
    text-align: center;
    float: left;
    position: relative;
    z-index: 1;
    -webkit-flex: none;
    flex: none;
}

.free-tabPanel ul.free-ul li a {
    height: 0.86rem;
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #47c4ef;
    font-weight: 700;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.free-tabPanel ul.free-ul .free-hit a {
    height: 0.87rem;
    color: #fff;
}

.free-tabPanel ul.free-ul li a::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: '';
    -webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
    transition: background-color 0.3s, transform 0.3s;
    -webkit-transition-timing-function: ease, cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: ease, cubic-bezier(0.7,0,0.3,1);
    -webkit-transform: translate3d(0,100%,0) translate3d(0,-3px,0);
    transform: translate3d(0,100%,0) translate3d(0,-3px,0);
}

.free-tabPanel ul.free-ul .free-hit a::after {
    background-color: #47c4ef;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.free-tabPanel ul.free-ul li .free-line{
    border-right: 1px solid #dfdfdf;
}

.free .free-pane{
    width: 100%;
    min-height: 100%;
    float: left;
}

.users, .profile, .preserved{
    width: calc(100% - 0.24rem);
    width: -webkit-calc(100% - 0.24rem);
}

.users {
    padding: 0.21rem 0.12rem 0;
    background: url('../images/user/free-bg.png') no-repeat center center;
    background-size: 100% 100%;
}

.profile{
    padding: 0 0.12rem 0.21rem;
}

.users .users-personal{
    width: 100%;
    height: 1.7rem;
}

.users .users-personal dl{
    width: 100%;
    height: 100%;
    float: left;
}

.users-personal dl dt{
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.1rem;
    margin-right: 0.2rem;
    float: left;
    background-color: #fff;
}

.users-personal dl dt img{
    width: 1.5rem;
    height: 1.5rem;
    display: block;
}

.users-personal dl dd{
    width: calc(100% - 1.9rem);
    width: -webkit-calc(100% - 1.9rem);
    height: 0.34rem;
    line-height: 0.34rem;
    color: #959595;
    float: left;
    margin: 0.01rem 0;
}

.users-personal dl dd i{
    font-size: 0.24rem;
    color: #ec6517;
}

.users-personal dl dd span{
    font-size: 0.16rem;
    float: left;
}

.users-personal dl dd .right{
    float: right;
    padding: 0 0.1rem;
}

.users-personal dl dd .a_integ {
    display: inline-block;
    width: 2.8rem;
    height: 0.14rem;
    background: #fff;
    border: 1px solid #E4E4E4;
    border-radius: 0.03rem;
    margin: 0.08rem 0.08rem 0 0;
    position: relative;
}

.users-personal dl dd .a_integ i {
    width: 0;
    display: inline-block;
    height: 0.16rem;
    border-radius: 0.03rem 0 0 0.03rem;
    position: absolute;
    left: 0;
    top: -1px;
    background-color: #6DBAF6;
    transition: .5s;
}

.users-personal dl dd .a_integ .yellows {
    background-color: #FEC312;
}

.users-personal dl dd .b_integ{
    margin-left: 0.15rem;
}

.users-edit{
    width: 100%;
    margin-top: 0.4rem;
}

.users-edit .title{
    width: 100%;
    height: 0.6rem;
    line-height: 0.6rem;
    font-size: 0.24rem;
    color: #959595;
    text-indent: 8px;
}

.users-edit .title span{
    float: left;
}

.users-edit .title i{
    width: 0.24rem;
    height: 0.24rem;
    margin: 0.18rem 0 0 0.18rem;
    background: url('../images/user/users-edit.png') no-repeat center center;
    background-size: 100% 100%;
    float: left;
}

.users-cont{
    width: 100%;
}

.users-cont ul{
    width: calc(100% - 2px);
    width: -webkit-calc(100% - 2px);
    border: 1px solid #e1e1e1;
}

.users-cont ul li{
    width: 100%;
    height: 0.8rem;
    line-height: 0.8rem;
    font-size: 0.22rem;
    border-bottom: 1px solid #e1e1e1;
    color: #959595;
    /* html5开发移动页面去掉点击出现的透明阴影 */
    -webkit-tap-highlight-color:rgba(255,255,255,0);
}

.users-cont .li_url{
    height: 2rem;
    border-bottom: 0;
}

.users-cont ul li span{
    width: 1.46rem;
    text-align: center;
    float: left;
}

.users-cont ul li .item{
    width: calc(100% - 1.46rem);
    width: -webkit-calc(100% - 1.46rem);
    float: left;
}

.users-cont ul li .item i{
    float: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.users-cont ul li .item input{
    width: 1.86rem;
    padding: 0.1rem;
    font-family: '方正兰亭细黑简';
    font-size: 0.22rem;
    color: #959595;
    border: 1px solid #fc8901;
    border-radius: 0;
    background-color: #fff;
    -webkit-appearance: none;
    outline:none;
}

.users-cont ul li .item a{
    float: right;
    color: #0297fd;
}

/* 0000000000000000000000000000000000000000 */
.li_sex .sex_inp .fl {
    width: 0.8rem;
    margin-right: 0.22rem;
    float: left;
}

.li_sex .sex_inp .fl i {
    width: 0.24rem;
    height: 0.24rem;
    margin: 0.27rem 0;
    display: inline-block;
    cursor: pointer;
    background: url('../images/user/user-icons.png') no-repeat center center;
    background-size: 100% 100%;
}

.li_sex .sex_inp .fl .selected {
    background: url('../images/user/user-icons1.png') no-repeat center center;
    background-size: 100% 100%;
}

.li_sex .sex_inp .fl strong {
    padding: 0 0.12rem;
}

.li_url .upload {
    width: calc(100% - 0.4rem);
    width: -webkit-calc(100% - 0.4rem);
    height: 1.6rem;
    margin: 0.2rem;
    float: left;

/*     background-color: palegoldenrod; */
}

.li_url .upload dl{
    width: 100%;
    height: 1.6rem;
}

.li_url .upload dl dt{
    width: 1.58rem;
    height: 1.58rem;
    border: 1px solid #e1e1e1;
    float: left;

}

.li_url .upload dl dt .character{
    width: 1.3rem;
    height: 1.3rem;
    margin: 0.14rem;
}

#fileList img
{
    width: 1.3rem;
    height: 1.3rem;
    margin: 0.14rem;
    display: block;
}

.li_url .upload dl dd {
    margin-left: 0.44rem;
    float: left;
}

.li_url .upload dl dd p{
    height: 0.36rem;
    line-height: 0.36rem;
    font-size: 0.2rem;
    margin: 0;
}

.li_url .upload dl .ipt {
    height: 0.8rem;
    margin-top: 0.08rem;
    margin-left: 0.52rem;
    position: relative;
}

.li_url .upload dl .ipt a, .li_url .upload dl .ipt input {
    width: 2.52rem;
    height: 0.48rem;
    line-height: 0.48rem;
    text-align: center;
    margin-top: 0.3rem;
    color: #959595;
    display: block;
    border: 1px solid #e1e1e1;
}

.li_url .upload dl .ipt input {
    border: 0;
    position: absolute;
    top: 0;
    left: 1px;
    /* 去掉input type="file" 的默认样式 */
    opacity: 0;
    text-indent: -9999px;
    color: #fff;
}

.preserved{
    margin: 0.22rem 0.12rem 0.47rem;
}

.preserved .btn-long{
    width: 100%;
    height: 0.78rem;
    font-size: 0.28rem;
    border: 0;

    text-align: center;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;

    color: #fff;
    background-color: #fc8901;
}

.preserved i {
    padding: 0 10px;
}

/* .users-cont ul li .selectList .select_ui{
    float: left;
} */

.city-layer{
    float: left;
    display: none;
}

.select_ui {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#fffcfcfc, endColorStr=#fff2f2f2);
    background: #f2f2f2;
    background: -webkit-gradient(linear,left top,left bottom,from(#fcfcfc),to(#f2f2f2));
    background: -webkit-linear-gradient(top,#fcfcfc,#f2f2f2);
    background: -moz-linear-gradient(top,#fcfcfc,#f2f2f2);
    background: -o-linear-gradient(top,#fcfcfc,#f2f2f2);
    background: linear-gradient(to bottom,#fcfcfc,#f2f2f2);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #ccc;
    display: inline-block;
    white-space: nowrap;
    position: relative;
    text-align: left;
    line-height: 1.5;
    height: auto;
    width: auto;
    float: none;
    margin: 0 0.22rem 0 0;
}

.select_arrow {
    border-color: #b7b7b7 transparent;
    border-top-color: inherit;
    border-width: 5px 5px 0;
    border-style: solid;
    position: absolute;
    margin-top: -2px;
    overflow: hidden;
    right: 7px;
    height: 0;
    width: 0;
    top: 50%;
}

.select_text_ui {
    border-right: 1px solid #e5e5e5;
    vertical-align: baseline;
    padding: 5px 3px 5px 6px;
    margin-right: 26px;
    overflow: visible;
    background: #fff;
    display: block;
}

.select_ui select {
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    box-sizing: content-box;
    filter: alpha(opacity=0);
    position: absolute;
    background: #fff;
    min-width: 100%;
    color: inherit;
    font: inherit;
    padding: 1px;
    margin: -1px;
    height: 100%;
    opacity: 0;
    border: 0;
    bottom: 0;
    left: 1px;
    top: 0;
}

option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}






/**
 * footer
 */
footer {
    width: 100%;
    position: fixed;
    bottom: 0px;
    z-index: 20;
}

.footer-nav {
    width: 100%;
    height: 1.12rem;
    border-top: 1px solid #c38460;
    background-color: #ec6517;
}

.footer-nav a {
    width: 20%;
    height: 1.12rem;
    float: left;
}

.footer-nav a img {
    width: 100%;
}

.footer-nav a img.footer-icon5 {
    width: 0.76rem;
    height: 0.63rem;
    display: block;
    margin: 0.07rem 0.25rem 0.06rem 0.27rem;
}

.footer-animation {
    background: url('../images/940/footer-animation.png') no-repeat center center;
    background-size: 100% 100%;
}

/* @media screen and (min-width: 540px) {
    #menu,#main,footer{
        width:540px;
        margin: 0 auto;
    }
} */