html, body
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    /*侧栏*/
    width: 100%;
    /*不能加高度，要不然中间区域跟随不到底部：style="padding-bottom: 1.13rem;"*/
    height: 100%;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
}
html
{
    /*font-size为 320 / 640 * 100 = 50(px);*/
    font-size: 50px;
}
ul, ol, li, dl, dt, dd
{
    list-style-type: none;
    /*侧栏*/
    margin: 0;
    padding: 0;
}
a
{
    text-decoration: none;
    outline: none;
    cursor: pointer;
}
a,button,input,textarea{
-webkit-tap-highlight-color: rgba(0,0,0,0);
}
ins {
    text-decoration: none;
}
img {
    border: none;
    outline: none;
    /*zepto*/
    max-width: 100%;
    height: auto;
    width: auto9;
    -ms-interpolation-mode: bicubic;
}
strong
{
    font-weight: normal;
}
b
{
    font-weight: normal;
}
i
{
    font-style: normal;
}
body
{
    /*侧栏*/
    background-color: #fff;
    font-family: '方正兰亭细黑简';
    font-size: 0.18rem;
}

/**
 * 左侧栏菜单
 */
.menu
{
    background-color: #434343;
    background-image: linear-gradient(145deg, #434343, #434343);
}

.menu ul{
    width: calc(100% - 1.2rem);
    width: -webkit-calc(100% - 1.2rem);
    margin: 0.2rem 0.6rem 0;
    float: left;
}

.menu ul li{
    height: 0.88rem;
    line-height: 0.88rem;
    font-family: '微软雅黑';
    font-size: 0.3rem;
    margin: 0.2rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.menu ul li a{
    color: #b5b5b5;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.menu ul li i{
    width: 0.5rem;
    height: 0.88rem;
    float: left;
}

.menu ul li .menu-icon1{
    background: url('../images/user/menu-icon1.png') no-repeat center left;
    background-size: 0.46rem 0.5rem;
}

.menu ul li .menu-icon2{
    background: url('../images/user/menu-icon2.png') no-repeat center left;
    background-size: 0.45rem 0.4rem;
}

.menu ul li .menu-icon3{
    background: url('../images/user/menu-icon3.png') no-repeat center left;
    background-size: 0.4rem 0.4rem;
}

.menu ul li .menu-icon4{
    background: url('../images/user/menu-icon4.png') no-repeat center left;
    background-size: 0.48rem 0.29rem;
}

.menu ul li .menu-icon5{
    background: url('../images/user/menu-icon5.png') no-repeat center left;
    background-size: 0.41rem 0.46rem;
}

.menu ul li .menu-icon6{
    background: url('../images/user/menu-icon6.png') no-repeat center left;
    background-size: 0.49rem 0.41rem;
}

.menu ul li .menu-icon7{
    background: url('../images/user/menu-icon7.png') no-repeat center left;
    background-size: 0.45rem 0.45rem;
}

.menu ul li span{
    margin-left: 0.2rem;
}

/**
 * 商品面板
 */
.panel
{
    min-height: 100%;
    background-color: #fff;
}

/**
 * hamburger
 */
.btn-hamburger
{
    width: 30px;
    height: 22px;
    border: none;
    position: absolute;
    top: 14px;
    left: 12px;
    outline: none;
    background: url('../images/mobileInternet/menu.png') no-repeat center center;
}

/**
 * Slideout module styles
 */
.menu,
.slideout-menu
{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 5rem;
    -webkit-overflow-scrolling: touch;
    display: none;
}

.panel,
.slideout-panel
{
    position: relative;
    z-index: 1;
}

.slideout-open,
.slideout-open body
{
    overflow: hidden;
}

.slideout-open .slideout-menu
{
    display: block;
}

/**
 * header(开始)
 */
.header {
    position: relative;
    width: 100%;
    height: 0.88rem;
    background-color: #ec6517;
}

.header .header-user,.header .header-menu{
    width: 0.96rem;
    height: 0.88rem;
    float: left;
}

.header .header-menu{
    float: right;
}

.header-user i,.header-menu i{
    width: 0.54rem;
    height: 0.54rem;
    background: url('../images/940/header-menu.png') no-repeat center center;
    background-size: 100% 100%;
    display: block;
    margin: 0.18rem 0.21rem 0.15rem;
}

.header-menu i{
    background: url('../images/940/header-user.png') no-repeat center center;
    background-size: 100% 100%;
}

.header-title{
    width: calc(100% - 1.92rem);
    width: -webkit-calc(100% - 1.92rem);
    height: 0.88rem;
    float: left;
}

.header-title i{
    width: 2.36rem;
    height: 0.36rem;
    display: block;
    margin: 0.26rem auto;
    background: url('../images/940/header-title.png') no-repeat center center;
    background-size: 100% 100%;
}

/*swiper*/
.swiper-container {
    width: 100%;
    height: 2.3rem;
}

.swiper-slide {
    text-align: center;
    background: paleturquoise;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img{
    width: 100%;
}

.swiper-slide a{
    width: 100%;
    height: 2.3rem;
}

.swiper-pagination-bullet
{
    display: inline-block;
    width: 0.12rem;
    height: 0.12rem;
    border-radius: 0.06rem;
    background-color: #fff;
    margin: 0 0.06rem;
}

.swiper-pagination-bullet-active {
    background-color: #ED6517;
    width: 0.32rem;
}

/**
 * view
 */
.view{
    width: 100%;
    float: left;
}

.view-spacing{
    width: calc(100% - 0.32rem);
    width: -webkit-calc(100% - 0.32rem);
    height: 6.36rem;
    margin: 0.3rem 0.16rem;
    float: left;
}

.view-layout{
    width: 100%;
    height: 2.02rem;
    margin-top: 0.1rem;
    float: left;
}

.view-color{
    width: calc((100%) / 4);
    width: -webkit-calc((100%) / 4);
    height: 2.02rem;
    float: left;
}

.view-color dl{
    width: 1rem;
    height: 1.81rem;
    margin: 0 auto;
    margin-top: 0.21rem;
}

.view-color dl dt{
    width: 1rem;
    height: 1rem;
    float: left;
    background-color: #fff;
}

.view-color dl dt.view-icon1{
    background: url('../images/views/views1.png') no-repeat center center;
    background-size: 100% 100%;
}

.view-color dl dt.view-icon2{
    background: url('../images/views/views2.png') no-repeat center center;
    background-size: 100% 100%;
}

.view-color dl dt.view-icon3{
    background: url('../images/views/views3.png') no-repeat center center;
    background-size: 100% 100%;
}

.view-color dl dt.view-icon4{
    background: url('../images/views/views4.png') no-repeat center center;
    background-size: 100% 100%;
}

.view-color dl dt.view-icon5{
    background: url('../images/views/views5.png') no-repeat center center;
    background-size: 100% 100%;
}

.view-color dl dt.view-icon6{
    background: url('../images/views/views6.png') no-repeat center center;
    background-size: 100% 100%;
}

.view-color dl dt.view-icon7{
    background: url('../images/views/views7.png') no-repeat center center;
    background-size: 100% 100%;
}

.view-color dl dt.view-icon8{
    background: url('../images/views/views8.png') no-repeat center center;
    background-size: 100% 100%;
}

.view-color dl dt.view-icon9{
    background: url('../images/views/views9.png') no-repeat center center;
    background-size: 100% 100%;
}

.view-color dl dt.view-icon10{
    background: url('../images/views/views10.png') no-repeat center center;
    background-size: 100% 100%;
}

.view-color dl dd{
    width: 1rem;
    height: 0.81rem;
    line-height: 0.81rem;
    text-align: center;
    font-size: 0.24rem;
    color: #626262;
    float: left;
}

/**
 * footer
 */
footer {
    width: 100%;
    position: fixed;
    bottom: 0px;
    z-index: 20;
}

.footer-nav {
    width: 100%;
    height: 1.12rem;
    border-top: 1px solid #c38460;
    background-color: #ec6517;
}

.footer-nav a {
    width: 20%;
    height: 1.12rem;
    float: left;
}

.footer-nav a img {
    width: 100%;
}

.footer-nav a img.footer-icon5 {
    width: 0.76rem;
    height: 0.63rem;
    display: block;
    margin: 0.07rem 0.25rem 0.06rem 0.27rem;
}

.footer-animation {
    background: url('../images/940/footer-animation.png') no-repeat center center;
    background-size: 100% 100%;
}
