.number {
  display: inline-block;
  padding: 7px!important;
  text-align: center;
  width: 25px;
  height: 19px;
  background: url("../../images/portal/ball-k3.png") center top no-repeat;
  text-indent: -999em;
  vertical-align: middle;
  background-size: 31px 192px;
}
.number01 {
  background-position: 7px 0px;
}
.number02 {
  background-position: 7px -32px;
}
.number03 {
  background-position: 7px -64px;
}
.number04 {
  background-position: 7px -96px;
}
.number05 {
  background-position: 7px -128px;
}
.number06 {
  background-position: 7px -160px;
}
/*幸运*/
.ui-list-ball span.lucky {
  display: inline-block;
  padding: 7px!important;
  text-align: center;
  width: 21px;
  height: 21px;
  background: url("../../images/portal/ball-nc20130106.png") center top no-repeat;
  text-indent: -999em;
  vertical-align: middle;
  border: none;
  background-color: rgba(158, 158, 158, 0.59);
  background-size: 35px 721px;
}
.ui-list-ball span.lucky.active {
  border: 2px solid #365db5;
  height: 20px;
}
.ui-list-ball span.lucky.lucky01 {
  background-position: center 0;
}
.ui-list-ball span.lucky.lucky02 {
  background-position: center -37px;
}
.ui-list-ball span.lucky.lucky03 {
  background-position: center -74px;
}
.ui-list-ball span.lucky.lucky04 {
  background-position: center -108px;
}
.ui-list-ball span.lucky.lucky05 {
  background-position: center -145px;
}
.ui-list-ball span.lucky.lucky06 {
  background-position: center -181px;
}
.ui-list-ball span.lucky.lucky07 {
  background-position: center -219px;
}
.ui-list-ball span.lucky.lucky08 {
  background-position: center -253px;
}
.ui-list-ball span.lucky.lucky09 {
  background-position: center -289px;
}
.ui-list-ball span.lucky.lucky10 {
  background-position: center -325px;
}
.ui-list-ball span.lucky.lucky11 {
  background-position: center -361px;
}
.ui-list-ball span.lucky.lucky12 {
  background-position: center -398px;
}
.ui-list-ball span.lucky.lucky13 {
  background-position: center -432px;
}
.ui-list-ball span.lucky.lucky14 {
  background-position: center -468px;
}
.ui-list-ball span.lucky.lucky15 {
  background-position: center -507px;
}
.ui-list-ball span.lucky.lucky16 {
  background-position: center -541px;
}
.ui-list-ball span.lucky.lucky17 {
  background-position: center -579px;
}
.ui-list-ball span.lucky.lucky18 {
  background-position: center -615px;
}
.ui-list-ball span.lucky.lucky19 {
  background-position: center -651px;
}
.ui-list-ball span.lucky.lucky20 {
  background-position: center -685px;
}
