<div class="task">
    <div class="task-bg task-clr1">
        <dl>
            <dt class="task-one"></dt>
            <dd class="task-title">
                <i class="task-topic1"></i>
                <i class="task-icon1"></i>
            </dd>
            <dd class="task-text">您只需在猎流上发布流量任务，剩下的交给猎流！</dd>
        </dl>
    </div>
    <div class="task-cont">
        <dl>
            <dt class="task-ui1"></dt>
            <dd>
                <i class="tick1"></i>
                <span class="distance1">淘宝电脑端任务</span>
                <i class="tick1"></i>
                <span>淘宝手机APP推广</span>
            </dd>
            <dd>
                <i class="tick1"></i>
                <span class="distance1">天猫电脑端任务</span>
                <i class="tick1"></i>
                <span>天猫手机APP推广</span>
            </dd>
            <dd>
                <i class="tick1"></i>
                <span class="distance1">直访店铺</span>
                <i class="tick1"></i>
                <span>直访商品</span>
            </dd>
            <dd class="task-button">
                <a href="javascript:" class="task-btn1">立即发布任务</a>
            </dd>
        </dl>
    </div>
</div>