<ion-tabs class="tabs-assertive tabs-icon-top">

  <ion-tab title="快递代取" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline" href="#/fetch/home">
    <ion-nav-view name="fetch"></ion-nav-view>
  </ion-tab>

  <ion-tab title="快递代寄" icon-on="ion-ios-list" icon-off="ion-ios-list-outline" href="#/carry/home">
    <ion-nav-view name="carry"></ion-nav-view>
  </ion-tab>

  <ion-tab title="我的" icon-on="ion-ios-person" icon-off="ion-ios-person-outline" href="#/user/home">
    <ion-nav-view name="user"></ion-nav-view>
  </ion-tab>

</ion-tabs>
